<!-- Section: Design Block -->
<section class="text-center text-lg-start">
  <style>
    .cascading-right {
      margin-right: -50px;
    }

    @media (max-width: 991.98px) {
      .cascading-right {
        margin-right: 0;
      }
    }
  </style>

  <!-- Jumbotron -->
  <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
          <div class="card-body p-5 shadow-5 text-center">
            <form role="form" [formGroup]="infoBasicForm">

              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example3">Codigo marca coche</label>
                <select class="form-select" id="form3Example3" formControlName="brandCarId">
                  <option value="" selected disabled>Seleccione</option>
                  <option *ngFor="let brandCar of listBrandCar" [value]="[brandCar.id]">{{brandCar.description}}
                  </option>
                </select>
              </div>


              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example4">Referencia</label>
                <input formControlName="reference" type="text" id="form3Example4" class="form-control"
                  placeholder="Referencia" />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example5">Precio</label>
                <input formControlName="price" type="number" id="form3Example5" class="form-control"
                  placeholder="El super precio" />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example6">Año modelo</label>
                <input formControlName="modelYear" type="number" id="form3Example6" class="form-control"
                  placeholder="Año modelo" />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example7">Categoria</label>
                <input formControlName="category" type="text" id="form3Example7" class="form-control"
                  placeholder="Categoria" />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example8">Stock</label>
                <input formControlName="stock" type="number" id="form3Example8" class="form-control"
                  placeholder="Stock" />
              </div>

            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->