<!-- Section: Design Block -->
<section class="text-center text-lg-start">
  <style>
    .cascading-right {
      margin-right: -50px;
    }

    @media (max-width: 991.98px) {
      .cascading-right {
        margin-right: 0;
      }
    }
  </style>

  <!-- Jumbotron -->
  <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
          <div class="card-body p-5 shadow-5 text-center">
            <form role="form" [formGroup]="infoAestheticForm">


              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example4">Color</label>
                <input formControlName="color" type="string" id="form3Example4" class="form-control"
                  placeholder="Color del carro" />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example5">Numero de puertas</label>
                <input formControlName="numberDoor" type="number" id="form3Example5" class="form-control"
                  placeholder="Numero puertos" />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example6">Numero de asientos</label>
                <input formControlName="numberSeat" type="number" id="form3Example6" class="form-control"
                  placeholder="Numero asientos" />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example7">Ruta imagen</label>
                <input formControlName="pathImage" type="text" id="form3Example7" class="form-control"
                  placeholder="Ruta imagen internet" />
              </div>

            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->